.carousel {
  height: 500px;
}

.outlined-text {
  -webkit-text-stroke-width: 1px; /* Set the width of the outline */
  -webkit-text-stroke-color: #000; /* Set the color of the outline */
  color: #fff; /* Set the main text color */
}

.debug-yellow {
  border: 2px solid yellow;
}
.debug-red {
  border: 2px solid red;
}
.debug-blue {
  border: 2px solid blue;
}




.custom-time-container {
  margin-bottom: -1.2rem;
}


.page-transition {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.page-transition-exit {
  opacity: 0;
}


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 300ms ease-in;
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  transition: opacity 300ms ease-in;
  opacity: 0;
}
